<!DOCTYPE html>
<html>
<head>
  <title>Property Search: Powered by BBVA</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
      <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&extension=.js&output=embed&libraries=places,drawing,geometry"></script>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">

      <%= render "layouts/sidebar" %>
      <div id="page-wrapper"  style="padding-top:40px;">
        <%= tag("div", :id => "location_data",  :data => {:lat => @lat, :long => @long}) %>
        <% if user_signed_in? %>
          <%= tag("div", :id => "user_data", :data => { :type => current_user.role } ) %>
        <% end %>
        <%= yield %>
      </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
</body>
</html>
